// MEDIA QUERY RANGES runs a boolean check which triggers when its true
$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)";

body {
  background-image: url("/assets/dark_embroidery.png");
}